* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    color: #1e293b;
}

/* Navbar */



/* ===== NAVBAR ===== */
.navbar {
    position: sticky;
    top: 0;
    background: #020617;
    padding: 14px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

/* Left side container */
.nav-left {
    display: flex;
    align-items: center;
    gap: 18px;
}

/* Logo text */
.logo-text {
    color: #38bdf8;
    font-size: 20px;
    font-weight: bold;
    position: relative;
}

/* Social icons  */
.social-icons {
    display: flex;
    gap: 20px;
}

.icon-link {
    color: white;
    font-size: 17px;  
    transition: 0.3s;
}

.icon-link:hover {
    color: rgb(61, 13, 64);
    transform: scale(1.15);
}

/* Right menu */
.nav-menu {
    list-style: none;
    display: flex;
}

.nav-menu li {
    margin-left: 25px;
}

.nav-menu li a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: 0.3s;
}

.nav-menu li a:hover {
    color: #38bdf8;
}

/* Hero */
.hero {
    height: 90vh;
    background: linear-gradient(135deg, #020617, #0f172a);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero span {
    color: #38bdf8;
}

.buttons {
    margin-top: 25px;
}

.btn {
    padding: 12px 26px;
    margin: 8px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease;
}

.primary {
    background: #38bdf8;
    color: black;
}

.primary:hover {
    transform: translateY(-4px);
}

.outline {
    border: 2px solid #38bdf8;
    color: #38bdf8;
}

.outline:hover {
    background: #38bdf8;
    color: black;
}

/* Sections */
.section {
    padding: 80px 60px;
    text-align: center;
    background: #10333a;
    color:hsl(0, 0%, 100%);
}


.light {
    background: rgb(6, 1, 17);
    color: white;
}

.dark {
    background:black;
    color: hsl(0, 0%, 100%);
}
.section1 {
    padding: 80px 60px;
    text-align: center;
    background:linear-gradient(135deg, #020617, #0f172a);
    color:white;
}

.section h2 {
    color: white;
    font-size: 32px;
    margin-bottom: 25px;
   
}

/* Skills */
.skills span {
    display: inline-block;
    padding: 10px 20px;
    margin: 8px;
    border-radius: 20px;
    background: #135ed7;
    transition: 0.3s;
    color: rgb(12, 11, 10);
}

.skills span:hover {
    background: #cdbddb;
    transform: scale(1.1);
}

/* Projects */
#project{
    background-color: #020617;
    color: white;
}
.project-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.project-card {
    width: 300px;
    margin: 15px;
    padding: 25px;
    border-radius: 15px;
    background: rgb(127, 83, 83);
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    transition: 0.3s;
    color: white;
}

.project-card:hover {
    transform: translateY(-10px);
}